body {
    margin: 0;
    min-height: 100vh;
    background: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
}

.gridcontainer  {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
    background: #37363f;
    padding: 40px;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px #222;
}

.gridsquare {
    background: #fff;
    border-radius: 5px;
    border: 2px solid black;
}

.gridsquare:hover {
    animation-name: square;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@keyframes square {

    50% { 
        transform: scale(1.8) rotateZ(360deg);
        border-radius: 50%;
        border: 2px solid white;
        background: #333;
        position: relative;
    }

    100% {
        transform: rotateZ(-540deg);
    }
}